<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org"
xmlns:sec="http:www.thymeleaf.org/extras/spring-security"
th:fragment="commLayout(head, main)">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/commons/common.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<!-- 추가 head소스가 삽입되는 지점 -->
<th:block th:replace="${head}"/> 
</head>
<body>
	<header>
		<h1>상단영역</h1>
		<div class="wrap view-size">
			<!-- <p>메뉴와 로그등을 구현</p> -->
			<nav>
				<h1>메뉴</h1>
				<div class="wrap">
					<ul class="flex">
						<li sec:authorize="hasRole('ADMIN')">
							<a href="/admin">관리자페이지</a>
						</li>
						<li sec:authorize="isAnonymous()">
							<a href="/member/login">로그인</a>
							<a href="/member/signup">회원가입</a>
						</li>
						<li sec:authorize="isAuthenticated()">
							<!-- <span th:text="${#authentication.name}">유저의 이름 정보</span> -->
							<span sec:authentication="principal.email"></span>
							(
							<span th:if="${#authentication.principal.nickName==null}" sec:authentication="principal.name"></span>
							<span th:if="${#authentication.principal.nickName!=null}" sec:authentication="principal.nickName"></span>
							)
							<a href="/logout">로그아웃</a>
						</li>
					</ul>
				</div>
			</nav>
			<hr>
			<section id="nb">
				<h1>메뉴</h1>
				<div class="wrap flex">
					<nav id="gnb">
						<h1>전체상품</h1>
						<div class="wrap">
							<script type="text/javascript">
								$(function(){
									//$("cate-wrap").on("load", "cate", menuLoading)
									hoverCategory()
								});
								
								function hoverCategory(){
									$(".cate").hover(menuLoading, function(){
										$(this).find(".cate-wrap").hide();
									});
								}
											
								
								function menuLoading(target){
									//console.log("val : "+$(target).val());
									var target=$(this);
									var pno=target.attr("value");
									
									$.ajax({
										url:`/common/layout/categories/${pno}`,
										success:function(result){
											$(target).find(".cate-wrap").html(result).show();
											
										}
									});
								}
							</script>
							<ul class="cate-wrap">
								<li value="0" class="cate">
									<p>전체상품</p>
									<div class="cate-wrap"></div>
								</li>
							</ul>
							<dl id="tot-menu" class="cate">
								<dt>전체상품</dt>
								<dd class="cate-wrap">
									
								</dd>
							</dl>
						</div>
					</nav>
					<nav id="lnb">
						<h1>이벤트상품</h1>
						<div class="wrap">
						
						</div>
					</nav>
				</div>
			</section>
			</div>
	</header>
	<!-- 메인영역이 삽입되는 지점 -->
	<th:block th:replace="${main}"/> 
	<footer>
		<h1>상단영역</h1>
		<div class="wrap view-size">
			<p>회사정보와 약관 등</p>
		</div>
		
	</footer>	
</body>
</html>